.hollow-white-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    border-radius: 20rem;
    border: .1rem solid $white;
    transition: .3s;
    padding: .75rem 1.5rem;
    cursor: pointer;

    @media #{$mq-sm-min} {
        padding: 1rem 2rem;
    }

    @media #{$mq-md-min} {
        column-gap: .5rem;
        padding: 1.5rem 3rem;
    }

    &:hover,
    &:focus {
        border-color: $green;
        background-color: $green;

        .title-medium-small {
            color: $purple-dark;
        }

        .circle {
            background-color: $purple-dark;
            color: $white;
            transform: translateX(1rem);

            @media #{$mq-sm-min} {
                transform: translateX(1.25rem);
            }

            @media #{$mq-md-min} {
                transform: translateX(1.5rem);
            }
        }
    }

    .title-medium-small {
        transition: .3s;
        line-height: 1;
    }

    .circle {
        display: block;
        background-color: $green;
        color: $purple-dark;
        border-radius: 50%;
        transition: .3s;
        width: 2rem;
        height: 2rem;
        padding: .5rem;
        transform: translateX(.75rem);

        @media #{$mq-sm-min} {
            width: 2.5rem;
            height: 2.5rem;
            padding: .5rem;
            transform: translateX(1rem);
        }
    }
}

.hollow-purple-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    border-radius: 20rem;
    border: .1rem solid $purple-dark;
    transition: .3s;
    padding: .75rem 1.5rem;
    cursor: pointer;

    @media #{$mq-sm-min} {
        padding: 1rem 2rem;
    }

    @media #{$mq-md-min} {
        column-gap: .5rem;
        padding: 1.5rem 3rem;
    }

    &:hover,
    &:focus {
        border-color: $purple-dark;
        background-color: $purple-dark;

        .title-medium-small {
            color: $white;
        }

        .circle {
            transform: translateX(1rem);

            @media #{$mq-sm-min} {
                transform: translateX(1.25rem);
            }

            @media #{$mq-md-min} {
                transform: translateX(1.5rem);
            }
        }
    }

    .title-medium-small {
        transition: .3s;
        line-height: 1;
    }

    .circle {
        display: block;
        background-color: $green;
        color: $purple-dark;
        border-radius: 50%;
        transition: .3s;
        width: 2rem;
        height: 2rem;
        padding: .5rem;
        transform: translateX(.75rem);

        @media #{$mq-sm-min} {
            width: 2.5rem;
            height: 2.5rem;
            padding: .5rem;
            transform: translateX(1rem);
        }
    }
}