.container {
	max-width: calc(100% - .75rem);
	width: 100%;
	@media #{$mq-xs-min} { max-width: 95%; }
	@media #{$mq-md-min} { max-width: 90%; }
	@media #{$mq-lg-min} { max-width: 85%; }
	@media #{$mq-xl-min} { max-width: 80%; }
	@media #{$mq-2xl-min} { max-width: 1320px; }
}

.container-big {
	max-width: calc(100% - .75rem);
	@media #{$mq-xs-min} { max-width: 95%; }
	@media #{$mq-md-min} { max-width: 90%; }
	@media #{$mq-2xl-min} { max-width: 1600px; }
}