.text-small,
.text-medium,
.text-medium-big {
	font-weight: inherit;
	font-variant: no-common-ligatures;
	letter-spacing: normal;

	* {
		font-family: inherit;
		font-weight: inherit;
		line-height: inherit;
		font-size: inherit;
		color: inherit;
	}

	strong, b {
		font-size: inherit;
		line-height: inherit;
		color: inherit;
		font-weight: $bold;
		font-family: inherit;
	}

	small {
		font-size: 45%;
		vertical-align: super;
	}
}

.text-small {
	font-size: 14px;
	line-height: 1.6;
}

.text-medium {
	font-size: 16px;
	line-height: 1.6;

	@media #{$mq-sm-min} {
		font-size: 18px;
	}

	@media #{$mq-lg-min} {
		font-size: 20px;
		line-height: 1.4;
	}
}

.text-medium-big {
	font-size: 18px;
	line-height: 1.6;

	@media #{$mq-xs-min} {
		font-size: 20px;
		line-height: 1.4;
	}

	@media #{$mq-sm-min} {
		font-size: 22px;
	}

	@media #{$mq-md-min} {
		font-size: 24px;
	}

	@media #{$mq-lg-min} {
		font-size: 26px;
	}
}

.title-small,
.title-medium-small,
.title-medium,
.title-big {
	font-family: $bebas;
	letter-spacing: normal;
	font-weight: inherit;

	* {
		font-family: inherit;
		font-weight: inherit;
		line-height: inherit;
		font-size: inherit;
		color: inherit;
	}

	small {
		font-size: 45%;
		vertical-align: super;
	}
}

.title-small {
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: .01rem;

	@media #{$mq-lg-min} {
		font-size: 22px;
		letter-spacing: .02rem;
	}
}

.title-medium-small {
	font-size: 22px;
	line-height: 1.2;

	@media #{$mq-sm-min} {
		font-size: 24px;
	}

	@media #{$mq-md-min} {
		font-size: 28px;
	}

	@media #{$mq-lg-min} {
		font-size: 32px;
	}

	@media #{$mq-xl-min} {
		font-size: 36px;
	}
}

.title-medium {
	font-size: 28px;
	line-height: 1.2;

	@media #{$mq-xs-min} {
		font-size: 32px;
	}

	@media #{$mq-sm-min} {
		font-size: 36px;
	}

	@media #{$mq-md-min} {
		font-size: 40px;
		line-height: 1;
	}

	@media #{$mq-lg-min} {
		font-size: 44px;
	}

	@media #{$mq-xl-min} {
		font-size: 48px;
	}
}

.title-big {
	font-size: 76px;
	line-height: 1;

	@media #{$mq-xs-min} {
		font-size: 82px;
	}

	@media #{$mq-sm-min} {
		font-size: 86px;
	}

	@media #{$mq-md-min} {
		font-size: 90px;
	}

	@media #{$mq-lg-min} {
		font-size: 100px;
	}

	@media #{$mq-xl-min} {
		font-size: 120px;
	}

	@media #{$mq-2xl-min} {
		font-size: 140px;
	}
}