// use these to create a big main.scss
@import 'atoms/variables';
//@import 'atoms/breakpoints';
@import 'atoms/reset';
@import 'atoms/scroll';
@import 'atoms/containers';
@import 'atoms/fonts';
@import 'atoms/texts';
@import 'atoms/buttons';
@import 'atoms/inputs';
@import 'atoms/animations';
@import 'atoms/global';

// modules
@import 'modules/top-menu';
@import 'modules/floating-whatsapp';
@import 'modules/footer';
@import 'modules/popups';

// pages
@import 'pages/home';