#top-menu {
    position: absolute;
    z-index: 5;
    left: 0;
    width: 100%;
    top: 1rem;

    @media #{$mq-sm-min} {
        top: 1.5rem;
    }

    @media #{$mq-sm-min} {
        top: 2rem;
    }

    @media #{$mq-lg-min} {
        top: 3rem;
    }

    .col-12 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 2rem;

        .left {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: 2rem;

            @media #{$mq-2xl-min} {
                column-gap: 3rem;
            }

            .logo {
                display: block;
                width: 12rem;
                position: relative;

                @media #{$mq-md-min} {
                    width: 15rem;
                }

                @media #{$mq-lg-min} {
                    width: 20rem;
                }

                @media #{$mq-2xl-min} {
                    width: 22rem;
                }

                &:hover,
                &:focus {
                    color: $green;
                }

                svg {
                    transition: .3s;

                    &:last-child {
                        position: absolute;
                        top: -.1rem;
                        right: -.1rem;
                        width: auto;
                        height: 100%;
                        animation: rotation 10s linear infinite;
                    }
                }
            }

            .menu {
                display: none;

                @media #{$mq-xl-min} {
                    display: block;
                }

                ul {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    column-gap: 2rem;

                    li {
                        a {
                            transition: .3s;

                            &:hover,
                            &:focus {
                                color: $green;
                            }

                            &:before {
                                background-color: $green;
                                height: 2px;
                            }
                        }
                    }
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            column-gap: 1.5rem;

            @media #{$mq-lg-min} {
                column-gap: 2rem;
            }

            @media #{$mq-2xl-min} {
                column-gap: 4rem;
            }

            .contact {
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 1rem;

                @media #{$mq-2xl-min} {
                    column-gap: 1.25rem;
                }

                &:hover,
                &:focus {
                    color: $green;

                    .circle {
                        transform: translateX(.25rem);
                    }
                }

                .text {
                    transition: .3s;
                    display: none;

                    @media #{$mq-sm-min} {
                        display: block;
                    }
                }

                .circle {
                    display: none;
                    align-items: center;
                    justify-content: center;
                    width: 2.25rem;
                    height: 2.25rem;
                    background-color: $green;
                    border-radius: 50%;
                    padding: .65rem;
                    color: $purple-dark;
                    transition: .3s;

                    @media #{$mq-lg-min} {
                        display: flex;
                    }
                }

                .mobile {
                    display: block;
                    width: 1.6rem;
                    height: 1.6rem;
                    transition: .3s;

                    @media #{$mq-sm-min} {
                        display: none;
                    }

                    &:hover,
                    &:focus {
                        color: $green;
                    }
                }
            }

            .instagram {
                transition: .3s;
                width: 1.6rem;
                height: 1.6rem;

                @media #{$mq-sm-min} {
                    width: 1.75rem;
                    height: 1.75rem;
                }

                @media #{$mq-lg-min} {
                    width: 2rem;
                    height: 2rem;
                }

                &:hover,
                &:focus {
                    color: $green;
                }
            }
        }
    }
}